@import "tailwindcss";


@layer base {
    :root {
      --numcards: 3;
    }

    html {
      font-family: 'Onest', sans-serif;
    }
    body {
        color: #343434;
      }
    }
    
  @layer utilities {
    .animate-marquee {
      animation: marquee 30s linear infinite;
    }

    @keyframes marquee {
      0% { transform: translateX(0%); }
      100% { transform: translateX(-50%); }
    }
  }

  @layer components {
    .card {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 60px;
      border-radius: 1.5rem;
      background: white;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform-origin: top center;
    }
  }


